[global]
max_forwards=70
user_agent=Anrufwerker-Bridge

[transport-udp]
type=transport
protocol=udp
bind=0.0.0.0

[fritzbox-registration]
type=registration
outbound_auth=fritzbox-auth
server_uri=sip:${FRITZBOX_IP}
client_uri=sip:${FRITZBOX_SIP_USER}@${FRITZBOX_IP}
retry_interval=120
expiration=120
auth_rejection_permanent=false

[fritzbox-auth]
type=auth
auth_type=userpass
username=${FRITZBOX_SIP_USER}
password=${FRITZBOX_SIP_PASSWORD}

[fritzbox-aor]
type=aor
contact=sip:${FRITZBOX_IP}

[fritzbox]
type=endpoint
outbound_auth=fritzbox-auth
aors=fritzbox-aor
context=from-fritzbox
disallow=all
allow=alaw
allow=ulaw
direct_media=no
rtp_symmetric=yes
force_rport=yes
media_address=${LOCAL_IP}
from_user=${FRITZBOX_SIP_USER}
from_domain=${FRITZBOX_IP}

[fritzbox-identify]
type=identify
endpoint=fritzbox
match=${FRITZBOX_IP}
